*, *::before, *::after {
    box-sizing: border-box;
    font-family: serif;
    font-weight: normal;
}


body {
    background-color: #ab9e9e;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-content: center;
}


.viewport { color: #3f3c3c; }   
.AC-button {  background-color: #e46f0f; }   
.light-button { background-color: #4a4545; }   
.dark-button {  background-color: #1e1b1b; }   
.equals-button {  background-color: #899d18; }   

.calculator-container {
    display: grid;
    justify-content: center;
    align-content: center;
    /* min-height: 100vh; */
    grid-template-columns: repeat(4, 80px);
    grid-template-rows: minmax(100px, auto) repeat(5, 80px);
    width: 360px;
    height: 530px;
    background-color: rgb(111, 184, 227);
    border-radius: 5%;
    box-shadow: 7px 7px 7px #3f3c3c;
}
.calculator-container > button {
    cursor: pointer;
    font-size: 30px;
    border: 1px solid #0b0000;
    outline: none;
    color: #f0e8e8;

}
.calculator-container > button:hover {
    background-color: rgba(186, 177, 177, 0.8);
}
.span-two {
    grid-column: span 2;
}
.viewport {
    grid-column: 1 / -1;
    background-color: rgba(25, 24, 24, 0.8);
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
    flex-direction: column;
    padding: 8px;
    word-wrap: break-word;
    word-break: break-all;
}
.viewport .previous-operand {
    color: #e8dfdf;
    font-size: 25px;
}
.viewport .current-operand {
    color: #e8dfdf;
    font-size: 45px;
}